{% extends "main.html" %}
{% block contents %}
    <div style="margin-top: 1%; margin-bottom: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: #00416a;">
                        <div class="card-body" align="justify">
                            <h1 style="color: #d1dfff"> У НЕАНДЕРТАЛЬЦЕВ ОДНО РАЗВЛЕЧЕНИЕ-УБАВИТЬ МАМОНТОВ.</h1>
                            <hr style="color: #d1dfff; border-width: 8px;">
                            <h4 style="color: #d1dfff"> Примерно вот так это происходит:</h4>
                            <img src="https://cdn.fishki.net/upload/users/2016/01/13/61391/9323db641519b219e964cab6d42b60ea.jpg"
                                 alt="Неандерталец" width="35%" style="border-radius: 10px; margin-left: 2%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/" class="btn" style="color: black; background: white; position: absolute; left: 1%"><</a>
{% endblock contents %}