{% extends "main.html" %}
{% block contents %}
    <div style="margin-top: 1%; margin-bottom: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: #00416a;">
                        <div class="card-body" align="justify" style="color: #d1dfff">
                            <h1 style="color: #d1dfff"> Кто такие Неандертальцы?</h1>
                            <hr style="color: #d1dfff; border-width: 8px;">
                            <h3 style="color: #d1dfff"> Неандерта́лец, человек неандертальский (лат. Homo neanderthalensis
                                или Homo sapiens neanderthalensis), в советской литературе также носил название
                                палеоантроп — вымерший или, по другой гипотезе, ассимилированный представитель рода
                                людей. Некоторые учёные считают неандертальца подвидом Homo sapiens, тогда как другие
                                относят к отдельному виду рода Homo, поэтому до сих пор сохраняются оба латинских
                                названия. Возраст останков наиболее ранних неандертальцев (пра-неандертальцев) — около
                                500 тыс. лет; окончательно сформировались, как вид, около 130—150 тыс. лет назад;
                                последние неандертальцы жили около 40 тысяч лет назад, сосуществовали в Европе с Homo
                                sapiens в течение нескольких тысяч лет. Неандертальцы населяли Европу и Среднюю Азию.
                                Название «неандерталец» происходит от долины Неандерталь в Германии, где был найден
                                череп одного из представителей. На сегодняшний день доказано, что неандертальцы не
                                являются прямыми предками современных людей. Их последний общий предок ещё точно не
                                установлен, его относят либо к человеку-предшественнику, либо к гейдельбергским людям
                                Африки. Древнейшие останки гейдельбергских людей, мигрировавших в Европу, имеют возраст
                                0,8 млн лет, следовательно, около миллиона лет линии неандертальцев и сапиенсов
                                развивались независимо. В более поздний период (135—35 тысяч лет назад), возможно,
                                происходила метисация неандертальцев и сапиенсов, появившихся в Европе позже. У
                                современных представителей европеоидной и монголоидной рас около 2 % генов —
                                неандертальские, у негроидов — 0,3 %. Неандертальцы были ниже и шире в плечах, чем
                                современные люди, при этом обладали бо́льшим объёмом мозга и, возможно, владели речью.
                                Средняя продолжительность жизни составляла 20 лет. Неандертальцы изготавливали орудия
                                труда, такие как деревянные копья, обожжённые на конце или с каменными наконечниками,
                                скребки, рубила. Они активно использовали огонь. Питались, в основном, мясом, хотя
                                употребляли в пищу и растения, кроме того, археологические исследования выявили два
                                случая применения лекарственных растений. У неандертальцев известны случаи заботы о
                                нетрудоспособных членах своей группы, имеются подобия захоронений, но достоверных
                                подтверждений каких-либо погребальных культов, ритуалов, обозначения могил у
                                неандертальцев не обнаружено. Изначально немногочисленные неандертальцы могли
                                смешиваться с представителями более многочисленных популяций: с денисовцами, возможно, с
                                кроманьонцами, как интерпретируют результаты генетических исследований их авторы. Но
                                некоторые генетики предполагают, что наличие у современных людей генов неандертальцев и
                                денисовцев могло появиться не в результате их гибридизации, а от полиморфизма генов их
                                общего предка, с которым эволюционные ветви современных людей, неандертальцев и
                                денисовцев разошлись ранее 700—765 тысяч лет назад.</h3>
                            <hr style="color: #d1dfff; border-width: 8px;">
                            <h3>Вот так они выглядят:</h3>
                            <img src="https://www.mentoday.ru/upload/img_cache/4db/4db736ccf238bee80a64056cac33a654_ce_844x562x30x0_cropped_1332x888.jpg"
                                 alt="Неандерталец" width="60%" style="border-radius: 10px; margin-left: 2%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/" class="btn" style="color: #1e1f22; background: #75a2e0; position: absolute; left: 1%"><</a>
{% endblock contents %}